<div *ngIf="hero">
  <h2>{{ hero.name }} details!</h2>
  <div><label>id:</label>{{ hero.id }}</div>
  <div>
    <label>Name:</label>
    <input [(ngModel)]="hero.name" placeholder="name" />
  </div>
  <button (click)="save()">save</button>
  <button (click)="goBack()">Back</button>
</div>
