<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h2>My heros</h2>
  <ul class="heros">
    <li
      *ngFor="let hero of heros"
      (click)="onSelect(hero)"
      [class.selected]="hero === selectedHero"
    >
      <span class="badge">{{ hero.id }}</span
      >{{ hero.name }}
    </li>
  </ul>
  <div *ngIf="selectedHero">
    <h2>{{ selectedHero.name | uppercase }} is my hero</h2>
    <button (click)="goToDetail()">View details</button>
  </div>
</div>

<router-outlet></router-outlet>
