.selected{
   background-color: #CFD8DC !important;
   color: white; 
}

.heros{
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
}

.heros li{
    cursor: pointer;
    position: relative;
    background-color: #EEE;
    left: 0;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
}


.heros li.selected:hover{
   background-color: #BBD8DC !important;
   color: white; 
}

.heros li:hover{
    color: #607d8b;
    background-color: #ddd;
    left: .1em;
}

.heros .text{
    position: relative;
    top: -3px;
}


.heros .badge{
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607d8b;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
}